body {
    background-color: aqua;
  }
  
  .tooltip-container {
    position: relative;
    display: inline-block;
    margin: 1.5rem;
  }
  
  .tooltip-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .tooltip-button:hover {
    background-color: #45a049;
  }
  
  .tooltip {
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    white-space: wrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }
  
  .tooltip.top {
    transform: translate(-50%, -100%);
  }
  
  .tooltip.bottom {
    transform: translate(-50%, 0%);
  }
  
  .tooltip.left {
    transform: translate(-100%, -50%);
  }
  
  .tooltip.right {
    transform: translate(0%, -50%);
  }
  
  .tooltip-container:hover .tooltip {
    opacity: 1;
    transform: translateY(0);
    animation: bounce 0.5s ease-in-out;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  